# FULLSTACK OPEN-SOURCE LAKEHOUSE PLATFORM

## E-Commerce Event History Analysis (Sử dụng bộ dữ liệu eCommerce Events History in Cosmetics Shop trên Kanggle)

### Architecture Stack
| Layer | Technology | Port |
|-------|------------|------|
| Storage | MinIO | 9000, 9001 |
| Table Format | Apache Iceberg | - |
| Catalog | Iceberg REST | 8181 |
| Compute | Apache Spark | 8080, 8888 |
| Transformation | dbt | - |
| Serving | ClickHouse | 8123, 9440 |
| Visualization | Apache Superset | 8088 |

---
## STEP 1: Setup Spark Session

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from datetime import datetime

spark = SparkSession.builder \
    .appName("Lakehouse Complete Demo") \
    .getOrCreate()

print(f"Spark Version: {spark.version}")
print(f"Catalog: {spark.conf.get('spark.sql.defaultCatalog')}")
print(f"Master: {spark.conf.get('spark.master')}")

Spark Version: 3.5.1
Catalog: lakehouse
Master: local[8]

26/01/30 03:53:29 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
# Create Medallion namespaces
spark.sql("CREATE NAMESPACE IF NOT EXISTS lakehouse.bronze")
spark.sql("CREATE NAMESPACE IF NOT EXISTS lakehouse.silver")
spark.sql("CREATE NAMESPACE IF NOT EXISTS lakehouse.gold")

spark.sql("SHOW NAMESPACES IN lakehouse").show()

+---------+
|namespace|
+---------+
|   bronze|
|     gold|
|   silver|
+---------+

---
## STEP 2: BRONZE LAYER - Raw Data Ingestion

- Read CSV raw data
- Add metadata columns: `_ingestion_time`, `_source_file`
- Write as Iceberg table

In [3]:
# Read raw CSV 2019-Dec
df_raw = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("/home/iceberg/notebooks/archive/2019-Dec.csv")

print(f"Total records: {df_raw.count():,}")
df_raw.printSchema()
df_raw.show(5, truncate=False)

Total records: 3,533,286
root
 |-- event_time: timestamp (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)

+-------------------+----------------+----------+-------------------+-------------+---------+-----+---------+------------------------------------+
|event_time         |event_type      |product_id|category_id        |category_code|brand    |price|user_id  |user_session                        |
+-------------------+----------------+----------+-------------------+-------------+---------+-----+---------+------------------------------------+
|2019-12-01 00:00:00|remove_from_cart|5712790   |1487580005268456287|NULL         |f.o.x    |6.27 |576802932|51d85cb0-897f-48d2-918b-ad63965c12dc|
|2019-12-01 00:00:00|view            |5764655   |1487580005411062629|NULL         |cnd      |29.05|412120092|8adff31e-2051-4894-9758-224bfa8aec18|
|2019-12-01 00:00:02|cart            |4958      |1487580009471148064|NULL         |runail   |1.19 |494077766|c99a50e8-2fac-4c4d-89ec-41c05f114554|
|2019-12-01 00:00:05|view            |5848413   |1487580007675986893|NULL         |freedecor|0.79 |348405118|722ffea5-73c0-4924-8e8f-371ff8031af4|
|2019-12-01 00:00:07|view            |5824148   |1487580005511725929|NULL         |NULL     |5.56 |576005683|28172809-7e4a-45ce-bab0-5efa90117cd5|
+-------------------+----------------+----------+-------------------+-------------+---------+-----+---------+------------------------------------+
only showing top 5 rows

In [11]:
# Read raw CSV 2019-Nov
df_raw = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("/home/iceberg/notebooks/archive/2020-Jan.csv")

print(f"Total records: {df_raw.count():,}")
df_raw.printSchema()
df_raw.show(5, truncate=False)

Total records: 4,264,752
root
 |-- event_time: timestamp (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)

+-------------------+----------+----------+-------------------+-------------+--------+-----+---------+------------------------------------+
|event_time         |event_type|product_id|category_id        |category_code|brand   |price|user_id  |user_session                        |
+-------------------+----------+----------+-------------------+-------------+--------+-----+---------+------------------------------------+
|2020-01-01 00:00:00|view      |5809910   |1602943681873052386|NULL         |grattol |5.24 |595414620|4adb70bb-edbd-4981-b60f-a05bfd32683a|
|2020-01-01 00:00:09|view      |5812943   |1487580012121948301|NULL         |kinetics|3.97 |595414640|c8c5205d-be43-4f1d-aa56-4828b8151c8a|
|2020-01-01 00:00:19|view      |5798924   |1783999068867920626|NULL         |zinger  |3.97 |595412617|46a5010f-bd69-4fbe-a00d-bb17aa7b46f3|
|2020-01-01 00:00:24|view      |5793052   |1487580005754995573|NULL         |NULL    |4.92 |420652863|546f6af3-a517-4752-a98b-80c4c5860711|
|2020-01-01 00:00:25|view      |5899926   |2115334439910245200|NULL         |NULL    |3.92 |484071203|cff70ddf-529e-4b0c-a4fc-f43a749c0acb|
+-------------------+----------+----------+-------------------+-------------+--------+-----+---------+------------------------------------+
only showing top 5 rows

In [12]:
# Add metadata columns
df_bronze = df_raw \
    .withColumn("_ingestion_time", current_timestamp()) \
    .withColumn("_source_file", lit("2020-Jan.csv"))

# Write to Bronze layer
df_bronze.writeTo("lakehouse.bronze.ecommerce_events") \
    .tableProperty("write.format.default", "parquet") \
    .tableProperty("write.parquet.compression-codec", "snappy") \
    .createOrReplace()

print("BRONZE layer created!")
spark.sql("SELECT COUNT(*) as total FROM lakehouse.bronze.ecommerce_events").show()

BRONZE layer created!
+-------+
|  total|
+-------+
|4264752|
+-------+

---
## STEP 3: SILVER LAYER - Cleaned Data with Partitioning

- Parse timestamps
- Handle NULL values
- **Partition by event_date** (optimize query performance)

In [13]:
# ******** Sửa withcolumn thành cast

# Transform Bronze -> Silver
df_silver = spark.table("lakehouse.bronze.ecommerce_events") \
    .withColumn("event_timestamp", to_timestamp(col("event_time"), "yyyy-MM-dd HH:mm:ss 'UTC'")) \
    .withColumn("event_date", to_date(col("event_timestamp"))) \
    .withColumn("event_hour", hour(col("event_timestamp"))) \
    .withColumn("brand", coalesce(col("brand"), lit("unknown"))) \
    .withColumn("category_code", coalesce(col("category_code"), lit("uncategorized"))) \
    .withColumn("price", col("price").cast("decimal(10,2)")) \
    .withColumn("_processed_at", current_timestamp()) \
    .drop("event_time", "_ingestion_time", "_source_file")

df_silver.printSchema()

root
 |-- event_type: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- category_id: long (nullable = true)
 |-- category_code: string (nullable = false)
 |-- brand: string (nullable = false)
 |-- price: decimal(10,2) (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- user_session: string (nullable = true)
 |-- event_timestamp: timestamp (nullable = true)
 |-- event_date: date (nullable = true)
 |-- event_hour: integer (nullable = true)
 |-- _processed_at: timestamp (nullable = false)

In [14]:
# Write with PARTITIONING by date
df_silver.writeTo("lakehouse.silver.ecommerce_events_cleaned") \
    .tableProperty("write.format.default", "parquet") \
    .partitionedBy("event_date") \
    .createOrReplace()

print("SILVER layer created with partitioning!")

# Verify partitions
spark.sql("SELECT DISTINCT event_date FROM lakehouse.silver.ecommerce_events_cleaned ORDER BY event_date").show()

SILVER layer created with partitioning!

+----------+
|event_date|
+----------+
|2020-01-01|
|2020-01-02|
|2020-01-03|
|2020-01-04|
|2020-01-05|
|2020-01-06|
|2020-01-07|
|2020-01-08|
|2020-01-09|
|2020-01-10|
|2020-01-11|
|2020-01-12|
|2020-01-13|
|2020-01-14|
|2020-01-15|
|2020-01-16|
|2020-01-17|
|2020-01-18|
|2020-01-19|
|2020-01-20|
+----------+
only showing top 20 rows

---
## STEP 3.1: SCHEMA EVOLUTION Demo

Simulate adding new column `payment_method` to source data.
Iceberg handles schema changes automatically!

In [15]:
# Add new column to Bronze table (Schema Evolution)
spark.sql("""
    ALTER TABLE lakehouse.bronze.ecommerce_events 
    ADD COLUMN payment_method STRING
""")

print("Column 'payment_method' added!")
spark.sql("DESCRIBE lakehouse.bronze.ecommerce_events").show(truncate=False)

Column 'payment_method' added!
+---------------+---------+-------+
|col_name       |data_type|comment|
+---------------+---------+-------+
|event_time     |timestamp|NULL   |
|event_type     |string   |NULL   |
|product_id     |int      |NULL   |
|category_id    |bigint   |NULL   |
|category_code  |string   |NULL   |
|brand          |string   |NULL   |
|price          |double   |NULL   |
|user_id        |int      |NULL   |
|user_session   |string   |NULL   |
|_ingestion_time|timestamp|NULL   |
|_source_file   |string   |NULL   |
|payment_method |string   |NULL   |
+---------------+---------+-------+

In [16]:


# Insert new data with the new column (simulating Day T+1 data)
from datetime import datetime

new_data = [
    (datetime(2019, 10, 2, 10, 0, 0), "purchase", 12345, 1234567890, "electronics.phone",
     "samsung", 599.99, 100001, "new-session-001", datetime.now(), "demo_day2.csv", "credit_card"),

    (datetime(2019, 10, 2, 11, 0, 0), "purchase", 12346, 1234567890, "electronics.phone",
     "apple", 999.99, 100002, "new-session-002", datetime.now(), "demo_day2.csv", "paypal"),
]


schema = spark.table("lakehouse.bronze.ecommerce_events").schema
df_new = spark.createDataFrame(new_data, schema)

df_new.writeTo("lakehouse.bronze.ecommerce_events").append()

# Verify - old data has NULL for payment_method, new data has values
spark.sql("""
    SELECT event_time, brand, price, payment_method 
    FROM lakehouse.bronze.ecommerce_events 
    WHERE payment_method IS NOT NULL OR brand = 'samsung'
    LIMIT 10
""").show(truncate=False)

+-------------------+-------+------+--------------+
|event_time         |brand  |price |payment_method|
+-------------------+-------+------+--------------+
|2019-10-02 10:00:00|samsung|599.99|credit_card   |
|2019-10-02 11:00:00|apple  |999.99|paypal        |
+-------------------+-------+------+--------------+

In [17]:
print(schema)

StructType([StructField('event_time', TimestampType(), True), StructField('event_type', StringType(), True), StructField('product_id', IntegerType(), True), StructField('category_id', LongType(), True), StructField('category_code', StringType(), True), StructField('brand', StringType(), True), StructField('price', DoubleType(), True), StructField('user_id', IntegerType(), True), StructField('user_session', StringType(), True), StructField('_ingestion_time', TimestampType(), True), StructField('_source_file', StringType(), True), StructField('payment_method', StringType(), True)])

---
## STEP 3.2: TIME TRAVEL Demo

Query historical snapshots of data.

In [19]:
# View table history
print("=== TABLE HISTORY ===")
spark.sql("SELECT * FROM lakehouse.bronze.ecommerce_events.history").show(truncate=False)

=== TABLE HISTORY ===
+-----------------------+-------------------+-------------------+-------------------+
|made_current_at        |snapshot_id        |parent_id          |is_current_ancestor|
+-----------------------+-------------------+-------------------+-------------------+
|2026-01-30 04:10:44.685|9127348836860691094|NULL               |true               |
|2026-01-30 04:19:26.313|6471009077848248100|9127348836860691094|true               |
+-----------------------+-------------------+-------------------+-------------------+

In [20]:
# View snapshots
print("=== SNAPSHOTS ===")
snapshots_df = spark.sql("SELECT snapshot_id, committed_at, operation FROM lakehouse.bronze.ecommerce_events.snapshots")
snapshots_df.show(truncate=False)

# Get first snapshot ID for time travel
first_snapshot = snapshots_df.orderBy("committed_at").first()["snapshot_id"]
print(f"First snapshot ID: {first_snapshot}")

=== SNAPSHOTS ===
+-------------------+-----------------------+---------+
|snapshot_id        |committed_at           |operation|
+-------------------+-----------------------+---------+
|8345581712853693656|2026-01-30 04:04:51.168|append   |
|8961319236875262264|2026-01-30 04:08:08.245|append   |
|7909682360207467037|2026-01-30 04:09:21.43 |append   |
|4160572160808099697|2026-01-30 04:10:06.081|append   |
|9127348836860691094|2026-01-30 04:10:44.685|append   |
|6471009077848248100|2026-01-30 04:19:26.313|append   |
+-------------------+-----------------------+---------+

First snapshot ID: 8345581712853693656

In [21]:
#Cột count_at_snapshot là gì

# Query data at first snapshot (before schema evolution)
print("=== DATA AT FIRST SNAPSHOT (before new column) ===")
spark.sql(f"""
    SELECT COUNT(*) as count_at_snapshot   
    FROM lakehouse.bronze.ecommerce_events 
    VERSION AS OF {first_snapshot}
""").show()

print("=== CURRENT DATA (after inserts) ===")
spark.sql("SELECT COUNT(*) as current_count FROM lakehouse.bronze.ecommerce_events").show()

=== DATA AT FIRST SNAPSHOT (before new column) ===
+-----------------+
|count_at_snapshot|
+-----------------+
|          3533286|
+-----------------+

=== CURRENT DATA (after inserts) ===
+-------------+
|current_count|
+-------------+
|      4264754|
+-------------+

---
## STEP 4: GOLD LAYER - Aggregated Tables

Create business-level aggregations with **partitioning** and **sorting**.

In [22]:
# cần viết lại bằng spark
# chỗ agg_at chuyển như nào?? 

# Gold 1: Daily Sales Summary (with partitioning)
df_daily = spark.sql("""
    SELECT 
        event_date,
        COUNT(*) AS total_events,
        COUNT(CASE WHEN event_type = 'view' THEN 1 END) AS views,
        COUNT(CASE WHEN event_type = 'cart' THEN 1 END) AS add_to_cart,
        COUNT(CASE WHEN event_type = 'purchase' THEN 1 END) AS purchases,
        CAST(SUM(CASE WHEN event_type = 'purchase' THEN price ELSE 0 END) AS DECIMAL(12,2)) AS revenue,
        COUNT(DISTINCT user_id) AS unique_users,
        ROUND(COUNT(CASE WHEN event_type = 'purchase' THEN 1 END) * 100.0 / 
              NULLIF(COUNT(CASE WHEN event_type = 'view' THEN 1 END), 0), 2) AS conversion_rate,
        current_timestamp() AS _aggregated_at
    FROM lakehouse.silver.ecommerce_events_cleaned
    GROUP BY event_date
    ORDER BY event_date
""")

df_daily.writeTo("lakehouse.gold.daily_sales_summary") \
    .tableProperty("write.format.default", "parquet") \
    .partitionedBy("event_date") \
    .createOrReplace()

print("Gold: daily_sales_summary created!")
spark.table("lakehouse.gold.daily_sales_summary").show()

Gold: daily_sales_summary created!
+----------+------------+-----+-----------+---------+--------+------------+---------------+--------------------+
|event_date|total_events|views|add_to_cart|purchases| revenue|unique_users|conversion_rate|      _aggregated_at|
+----------+------------+-----+-----------+---------+--------+------------+---------------+--------------------+
|2020-01-19|      137205|65062|      36127|     8168|39367.78|       18115|          12.55|2026-01-30 04:32:...|
|2020-01-20|      152557|72900|      40810|     9014|45517.88|       20310|          12.36|2026-01-30 04:32:...|
|2020-01-17|      140112|65064|      37400|     9265|43294.43|       18647|          14.24|2026-01-30 04:32:...|
|2020-01-18|      119252|57418|      32316|     6197|32230.27|       16698|          10.79|2026-01-30 04:32:...|
|2020-01-23|      141652|69529|      38188|     8700|45708.89|       20111|          12.51|2026-01-30 04:32:...|
|2020-01-24|      135184|66086|      35532|     8779|42814.01|       19012|          13.28|2026-01-30 04:32:...|
|2020-01-21|      150404|70681|      42499|     9165|47214.73|       20778|          12.97|2026-01-30 04:32:...|
|2020-01-22|      138344|66255|      37601|     9088|44715.82|       19811|          13.72|2026-01-30 04:32:...|
|2020-01-27|      206611|88661|      56506|    18314|91419.66|       22141|          20.66|2026-01-30 04:32:...|
|2020-01-28|      184379|81976|      49087|    17352|87725.65|       21143|          21.17|2026-01-30 04:32:...|
|2020-01-25|      120436|58142|      31808|     6766|32850.71|       17643|          11.64|2026-01-30 04:32:...|
|2020-01-26|      134735|65300|      35319|     8182|39995.78|       19012|          12.53|2026-01-30 04:32:...|
|2020-01-31|      132564|66223|      36017|     7346|36196.44|       21620|          11.09|2026-01-30 04:32:...|
|2020-01-29|      145257|70952|      40400|     7605|39372.25|       21740|          10.72|2026-01-30 04:32:...|
|2020-01-30|      142843|68605|      39510|     7582|38993.52|       21366|          11.05|2026-01-30 04:32:...|
|2020-01-03|      116893|55440|      31022|     6031|32840.06|       16125|          10.88|2026-01-30 04:32:...|
|2020-01-04|      116617|55937|      30756|     6602|32513.20|       16797|          11.80|2026-01-30 04:32:...|
|2020-01-01|       80940|39631|      21874|     3269|16765.95|       12296|           8.25|2026-01-30 04:32:...|
|2020-01-02|      103157|49914|      27823|     4875|25067.09|       14682|           9.77|2026-01-30 04:32:...|
|2020-01-07|      125209|59653|      34096|     7564|38830.28|       17845|          12.68|2026-01-30 04:32:...|
+----------+------------+-----+-----------+---------+--------+------------+---------------+--------------------+
only showing top 20 rows

In [23]:
# Gold 2: Brand Performance (sorted for efficient queries)
df_brand = spark.sql("""
    SELECT 
        brand,
        COUNT(*) AS total_events,
        COUNT(CASE WHEN event_type = 'view' THEN 1 END) AS views,
        COUNT(CASE WHEN event_type = 'purchase' THEN 1 END) AS purchases,
        CAST(SUM(CASE WHEN event_type = 'purchase' THEN price ELSE 0 END) AS DECIMAL(12,2)) AS revenue,
        CAST(AVG(CASE WHEN event_type = 'purchase' THEN price END) AS DECIMAL(10,2)) AS avg_order_value,
        COUNT(DISTINCT user_id) AS unique_customers,
        current_timestamp() AS _aggregated_at
    FROM lakehouse.silver.ecommerce_events_cleaned
    WHERE brand != 'unknown'
    GROUP BY brand
    ORDER BY revenue DESC
""")

# Write with sort order for optimized queries
df_brand.writeTo("lakehouse.gold.brand_performance") \
    .tableProperty("write.format.default", "parquet") \
    .tableProperty("write.distribution-mode", "hash") \
    .createOrReplace()

print("Gold: brand_performance created!")
spark.table("lakehouse.gold.brand_performance").show(10)

Gold: brand_performance created!
+--------+------------+------+---------+--------+---------------+----------------+--------------------+
|   brand|total_events| views|purchases| revenue|avg_order_value|unique_customers|      _aggregated_at|
+--------+------------+------+---------+--------+---------------+----------------+--------------------+
|  runail|      368018|144126|    26596|80707.34|           3.03|           59595|2026-01-30 04:36:...|
| grattol|      193829| 97695|    11828|63743.67|           5.39|           34884|2026-01-30 04:36:...|
|   irisk|      210875| 87235|    14827|45746.89|           3.09|           48028|2026-01-30 04:36:...|
|     uno|       53625| 26302|     3811|42533.50|          11.16|           16370|2026-01-30 04:36:...|
|  strong|       13456| 11039|      199|34607.65|         173.91|            5683|2026-01-30 04:36:...|
|  masura|      203526| 77498|    12234|34448.60|           2.82|           22668|2026-01-30 04:36:...|
|   estel|       82032| 46753|     4504|26986.40|           5.99|           24438|2026-01-30 04:36:...|
|jessnail|       54523| 40395|     1706|25641.09|          15.03|           21039|2026-01-30 04:36:...|
|ingarden|       78388| 34675|     5156|25367.33|           4.92|           17078|2026-01-30 04:36:...|
| italwax|       45063| 21986|     3455|20373.97|           5.90|           11600|2026-01-30 04:36:...|
+--------+------------+------+---------+--------+---------------+----------------+--------------------+
only showing top 10 rows

In [24]:
# Tại sao truy vấn này lại nhanh hơn trên??
# Gold 3: Hourly Traffic Pattern
df_hourly = spark.sql("""
    SELECT 
        event_hour,
        COUNT(*) AS total_events,
        COUNT(CASE WHEN event_type = 'view' THEN 1 END) AS views,
        COUNT(CASE WHEN event_type = 'purchase' THEN 1 END) AS purchases,
        CAST(SUM(CASE WHEN event_type = 'purchase' THEN price ELSE 0 END) AS DECIMAL(12,2)) AS revenue,
        current_timestamp() AS _aggregated_at
    FROM lakehouse.silver.ecommerce_events_cleaned
    GROUP BY event_hour
    ORDER BY event_hour
""")

df_hourly.writeTo("lakehouse.gold.hourly_traffic") \
    .tableProperty("write.format.default", "parquet") \
    .createOrReplace()

print("Gold: hourly_traffic created!")
spark.table("lakehouse.gold.hourly_traffic").show(24)

Gold: hourly_traffic created!
+----------+------------+------+---------+--------+--------------------+
|event_hour|total_events| views|purchases| revenue|      _aggregated_at|
+----------+------------+------+---------+--------+--------------------+
|         0|       44655| 20942|     2545|11884.37|2026-01-30 04:37:...|
|         1|       39235| 16947|     2424|10916.11|2026-01-30 04:37:...|
|         2|       42076| 17827|     2752|12891.20|2026-01-30 04:37:...|
|         3|       54551| 24805|     2993|16182.73|2026-01-30 04:37:...|
|         4|       73431| 35004|     3766|19599.12|2026-01-30 04:37:...|
|         5|      111233| 51779|     6439|30018.33|2026-01-30 04:37:...|
|         6|      148987| 70897|     9086|47735.20|2026-01-30 04:37:...|
|         7|      182336| 88221|    11073|57550.47|2026-01-30 04:37:...|
|         8|      204989| 98218|    13784|72978.64|2026-01-30 04:37:...|
|         9|      228262|108271|    16230|82977.64|2026-01-30 04:37:...|
|        10|      235303|112871|    16301|86686.52|2026-01-30 04:37:...|
|        11|      247770|117353|    17088|89530.61|2026-01-30 04:37:...|
|        12|      257423|121021|    17509|85957.43|2026-01-30 04:37:...|
|        13|      245100|118792|    16604|81969.77|2026-01-30 04:37:...|
|        14|      230020|110613|    14692|72267.56|2026-01-30 04:37:...|
|        15|      226796|107425|    14282|71957.41|2026-01-30 04:37:...|
|        16|      233746|111580|    13436|68107.50|2026-01-30 04:37:...|
|        17|      251553|122659|    14269|71734.54|2026-01-30 04:37:...|
|        18|      279249|133713|    15090|75292.66|2026-01-30 04:37:...|
|        19|      290341|140099|    16670|78955.21|2026-01-30 04:37:...|
|        20|      268372|130108|    15556|74247.99|2026-01-30 04:37:...|
|        21|      185069| 88737|    10898|54096.27|2026-01-30 04:37:...|
|        22|      115245| 55981|     5943|28406.11|2026-01-30 04:37:...|
|        23|       69010| 33745|     4367|19592.09|2026-01-30 04:37:...|
+----------+------------+------+---------+--------+--------------------+

In [25]:
# Gold 4: Daily Sales by Category
df_category = spark.sql("""
    SELECT 
        event_date,
        category_code,
        COUNT(*) AS total_events,
        COUNT(CASE WHEN event_type = 'purchase' THEN 1 END) AS purchases,
        CAST(SUM(CASE WHEN event_type = 'purchase' THEN price ELSE 0 END) AS DECIMAL(12,2)) AS revenue,
        current_timestamp() AS _aggregated_at
    FROM lakehouse.silver.ecommerce_events_cleaned
    WHERE category_code != 'uncategorized'
    GROUP BY event_date, category_code
    ORDER BY event_date, revenue DESC
""")

df_category.writeTo("lakehouse.gold.daily_sales_by_category") \
    .tableProperty("write.format.default", "parquet") \
    .partitionedBy("event_date") \
    .createOrReplace()

print("Gold: daily_sales_by_category created!")
spark.table("lakehouse.gold.daily_sales_by_category").show(10)

Gold: daily_sales_by_category created!
+----------+--------------------+------------+---------+-------+--------------------+
|event_date|       category_code|total_events|purchases|revenue|      _aggregated_at|
+----------+--------------------+------------+---------+-------+--------------------+
|2020-01-19|appliances.enviro...|         897|       28| 741.99|2026-01-30 04:40:...|
|2020-01-19|furniture.bathroo...|         171|       10| 292.39|2026-01-30 04:40:...|
|2020-01-19|       apparel.glove|         409|       34| 226.31|2026-01-30 04:40:...|
|2020-01-19|appliances.person...|          38|        2| 101.58|2026-01-30 04:40:...|
|2020-01-19| stationery.cartrige|         356|       32|  69.07|2026-01-30 04:40:...|
|2020-01-19|     accessories.bag|         149|        1|  33.33|2026-01-30 04:40:...|
|2020-01-19|accessories.cosme...|          15|        2|   9.54|2026-01-30 04:40:...|
|2020-01-19|appliances.enviro...|          10|        1|   7.38|2026-01-30 04:40:...|
|2020-01-19|furniture.living_...|           1|        0|   0.00|2026-01-30 04:40:...|
|2020-01-19|furniture.living_...|         162|        0|   0.00|2026-01-30 04:40:...|
+----------+--------------------+------------+---------+-------+--------------------+
only showing top 10 rows

---
## STEP 4.1: Verify All Tables & Locations

In [26]:
print("=" * 60)
print("BRONZE TABLES")
print("=" * 60)
spark.sql("SHOW TABLES IN lakehouse.bronze").show()

print("=" * 60)
print("SILVER TABLES")
print("=" * 60)
spark.sql("SHOW TABLES IN lakehouse.silver").show()

print("=" * 60)
print("GOLD TABLES")
print("=" * 60)
spark.sql("SHOW TABLES IN lakehouse.gold").show()

============================================================
BRONZE TABLES
============================================================
+---------+----------------+-----------+
|namespace|       tableName|isTemporary|
+---------+----------------+-----------+
|   bronze|ecommerce_events|      false|
+---------+----------------+-----------+

============================================================
SILVER TABLES
============================================================
+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|   silver|ecommerce_events_...|      false|
+---------+--------------------+-----------+

============================================================
GOLD TABLES
============================================================
+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|     gold|   brand_performance|      false|
|     gold|daily_sales_by_ca...|      false|
|     gold| daily_sales_summary|      false|
|     gold|      hourly_traffic|      false|
+---------+--------------------+-----------+

In [27]:
# Check file locations in MinIO
tables = [
    "lakehouse.bronze.ecommerce_events",
    "lakehouse.silver.ecommerce_events_cleaned",
    "lakehouse.gold.daily_sales_summary",
    "lakehouse.gold.brand_performance",
    "lakehouse.gold.hourly_traffic",
    "lakehouse.gold.daily_sales_by_category"
]

print("Table Locations in MinIO:")
print("=" * 80)
for table in tables:
    try:
        location = spark.sql(f"DESCRIBE EXTENDED {table}") \
            .filter(col("col_name") == "Location") \
            .select("data_type").collect()[0][0]
        print(f"{table}")
        print(f"  -> {location}")
    except:
        print(f"{table} - Not found")

Table Locations in MinIO:
================================================================================
lakehouse.bronze.ecommerce_events
  -> s3://lakehouse/bronze/ecommerce_events
lakehouse.silver.ecommerce_events_cleaned
  -> s3://lakehouse/silver/ecommerce_events_cleaned
lakehouse.gold.daily_sales_summary
  -> s3://lakehouse/gold/daily_sales_summary
lakehouse.gold.brand_performance
  -> s3://lakehouse/gold/brand_performance
lakehouse.gold.hourly_traffic
  -> s3://lakehouse/gold/hourly_traffic
lakehouse.gold.daily_sales_by_category
  -> s3://lakehouse/gold/daily_sales_by_category

---
## STEP 5: CLICKHOUSE Integration (Zero-Copy)

### Run these commands in ClickHouse:
```bash
docker exec -it lakehouse-clickhouse clickhouse-client --user admin --password password
```
After that, run code  below:

In [28]:
# Có cần thiết phải qua clickhouse ko

In [29]:
clickhouse_sql = """
-- ================================================================
-- CLICKHOUSE COMMANDS - Run in clickhouse-client
-- docker exec -it lakehouse-clickhouse clickhouse-client --user admin --password password
-- ================================================================

-- 1. Create database
CREATE DATABASE IF NOT EXISTS lakehouse;

-- 2. Daily Sales Summary (Zero-Copy from MinIO)
CREATE OR REPLACE TABLE lakehouse.daily_sales_summary
ENGINE = S3('http://minio:9000/lakehouse/gold/daily_sales_summary/data/*.parquet',
             'admin', 'password', 'Parquet');

-- 3. Brand Performance
CREATE OR REPLACE TABLE lakehouse.brand_performance
ENGINE = S3('http://minio:9000/lakehouse/gold/brand_performance/data/*.parquet',
             'admin', 'password', 'Parquet');

-- 4. Hourly Traffic
CREATE OR REPLACE TABLE lakehouse.hourly_traffic
ENGINE = S3('http://minio:9000/lakehouse/gold/hourly_traffic/data/*.parquet',
             'admin', 'password', 'Parquet');

-- 5. Daily Sales by Category
CREATE OR REPLACE TABLE lakehouse.daily_sales_by_category
ENGINE = S3('http://minio:9000/lakehouse/gold/daily_sales_by_category/data/*/*.parquet',
             'admin', 'password', 'Parquet');


-- ================================================================
-- VERIFY DATA
-- ================================================================

SELECT * FROM lakehouse.daily_sales_summary;
SELECT * FROM lakehouse.brand_performance LIMIT 10;
SELECT * FROM lakehouse.hourly_traffic ORDER BY event_hour;

-- ================================================================
-- SAMPLE ANALYTICS QUERIES
-- ================================================================

-- Top 10 brands by revenue
SELECT 
    brand,
    revenue,
    purchases,
    round(revenue / purchases, 2) as avg_order_value
FROM lakehouse.brand_performance
WHERE purchases > 0
ORDER BY revenue DESC
LIMIT 10;

-- Conversion funnel
SELECT
    sum(views) as total_views,
    sum(add_to_cart) as total_carts,
    sum(purchases) as total_purchases,
    round(sum(purchases) * 100.0 / sum(views), 2) as overall_conversion
FROM lakehouse.daily_sales_summary;
"""

print(clickhouse_sql)

-- ================================================================
-- CLICKHOUSE COMMANDS - Run in clickhouse-client
-- docker exec -it lakehouse-clickhouse clickhouse-client --user admin --password password
-- ================================================================

-- 1. Create database
CREATE DATABASE IF NOT EXISTS lakehouse;

-- 2. Daily Sales Summary (Zero-Copy from MinIO)
CREATE OR REPLACE TABLE lakehouse.daily_sales_summary
ENGINE = S3('http://minio:9000/lakehouse/gold/daily_sales_summary/data/*.parquet',
             'admin', 'password', 'Parquet');

-- 3. Brand Performance
CREATE OR REPLACE TABLE lakehouse.brand_performance
ENGINE = S3('http://minio:9000/lakehouse/gold/brand_performance/data/*.parquet',
             'admin', 'password', 'Parquet');

-- 4. Hourly Traffic
CREATE OR REPLACE TABLE lakehouse.hourly_traffic
ENGINE = S3('http://minio:9000/lakehouse/gold/hourly_traffic/data/*.parquet',
             'admin', 'password', 'Parquet');

-- 5. Daily Sales by Category
CREATE OR REPLACE TABLE lakehouse.daily_sales_by_category
ENGINE = S3('http://minio:9000/lakehouse/gold/daily_sales_by_category/data/*/*.parquet',
             'admin', 'password', 'Parquet');


-- ================================================================
-- VERIFY DATA
-- ================================================================

SELECT * FROM lakehouse.daily_sales_summary;
SELECT * FROM lakehouse.brand_performance LIMIT 10;
SELECT * FROM lakehouse.hourly_traffic ORDER BY event_hour;

-- ================================================================
-- SAMPLE ANALYTICS QUERIES
-- ================================================================

-- Top 10 brands by revenue
SELECT
    brand,
    revenue,
    purchases,
    round(revenue / purchases, 2) as avg_order_value
FROM lakehouse.brand_performance
WHERE purchases > 0
ORDER BY revenue DESC
LIMIT 10;

-- Conversion funnel
SELECT
    sum(views) as total_views,
    sum(add_to_cart) as total_carts,
    sum(purchases) as total_purchases,
    round(sum(purchases) * 100.0 / sum(views), 2) as overall_conversion
FROM lakehouse.daily_sales_summary;

---
## STEP 6: SUPERSET Dashboard Setup

### Access
- URL: http://localhost:8088
- Username: `admin`
- Password: `admin`

### Add ClickHouse Connection
1. Settings -> Database Connections -> + Database
2. Select: **ClickHouse Connect**
3. Connection :
```
-Host: clickhouse

-Port: 8123

-Database name: lakehouse

-Username: admin

-Password: password

-Display Name: ClickHouse Lakehouse

-SSL: (optional)

click Connect/Test Connection.
```

### Create 3 Required Charts

| Chart | Type | Dataset | Metrics |
|-------|------|---------|--------|
| Daily Revenue Trend | Line Chart | daily_sales_summary | revenue by event_date |
| Top Brands | Bar Chart | brand_performance | revenue by brand |
| Hourly Traffic | Area Chart | hourly_traffic | views, purchases by event_hour |

### Create Dashboard
1. Dashboards -> + Dashboard
2. Add the 3 charts
3. Arrange and save

---
## STEP 7: dbt Transformation (Alternative)

### Run dbt commands:
```bash
# Enter dbt container
docker exec -it lakehouse-dbt bash

# Run transformations
cd /usr/app/dbt/lakehouse_dbt
dbt debug
dbt run
```

dbt models are located in:
- `/dbt/lakehouse_dbt/models/silver/` - Silver layer transformations
- `/dbt/lakehouse_dbt/models/gold/` - Gold layer aggregations